body { background: #f0f0f0; font-family: 'Lato', sans-serif; font-weight: 300; }
h1, h2, h3 { margin-top: 10px; font-height: 300; }
.content-bg { background: #FFFFFF; box-shadow: 0 1px 1px #DDDDDD; margin: 0 10px 10px; padding: 10px; border-radius: 2px; }
.btn-lg { width: 100%; padding: 20px 16px; }
#mapcanvas { width: 100%; height: 350px; margin-top: 10px; background:#ddd; }
.toggle-map { margin: 0px !important; }
.toggle-map:hover { cursor: pointer; }
.active { color: #222; }
.nomargin { margin: 0px; }
select#county { border: 1px solid #DDDDDD; border-radius: 2px 2px 2px 2px; margin-bottom: 10px; padding: 5px; width: 100%; }
.preloader { display: none; text-align: center; padding: 10px; margin-bottom: 10px; }
.glyphicon { color: #777; }
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active { color: white; text-shadow: 0 -1px 0 rgba(98, 168, 196, 0.24); background-color: #fe562a; }
.btn-ttc { background-color: #FF6138; }
.btn-ttc:hover { background-position: 0 -15px; }
.btn-ttc:focus { color: #f9f9f9; }
